<!-- Authors: Taylor Jenkins & Ryan Kingston -->

<div class="container-fluid">
				<h1>Editing Book</h1>

				<%= render 'form' %>

				<%= link_to 'Show', @book, class: "btn btn-primary" %> 
				<%= link_to '&#8592; Back'.html_safe, books_path, class: "btn btn-primary" %>
</div>
