<!-- Authors: Taylor Jenkins & Ryan Kingston -->

<div class='container'>
<h1>New Book</h1>

<%= render 'form' %>

<%= link_to '&#8592; Back'.html_safe, books_path, class: "btn btn-default" %>
</div>
